
{% extends 'admin-dash.twig' %}

{% block head  %}
    {{ parent() }}
{% endblock %}

{% block header  %}
    {{ parent() }}

{% endblock %}

{% block container  %}
    {{ parent() }}

{% endblock %}
{% block content %}
    <!-- start page content -->
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="page-bar">
                <div class="page-title-breadcrumb">
                    <div class=" pull-left">
                        <div class="page-title">Classes List</div>
                    </div>
                    <ol class="breadcrumb page-breadcrumb pull-right">
                        <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="index.html">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
                        </li>
                        <li><a class="parent-item" href="#">Classes</a>&nbsp;<i class="fa fa-angle-right"></i>
                        </li>
                        <li class="active">Classes List</li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xl-12">
                    <div class="card-box">
                        <div class="card-head">
                            <header>Classes List</header>

                        </div>

                        <div class="card-body ">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-6">
                                    <div class="btn-group">
                                        <a href="{{ path('classe_new') }}" id="addRow" class="btn btn-info">
                                            Add New <i class="fa fa-plus"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-6">
                                    <div class="btn-group pull-right">

                                        <ul class="dropdown-menu pull-right">
                                            <li>
                                                <a href="javascript:;">
                                                    <i class="fa fa-print"></i> Print </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">
                                                    <i class="fa fa-file-pdf-o"></i> Save as PDF </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">
                                                    <i class="fa fa-file-excel-o"></i> Export to Excel </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="table-scrollable">
                                <table class="table table-striped table-bordered table-hover table-checkable order-column valign-middle" id="example4">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Class Name</th>
                                        <th>Department</th>
                                        <th>Student capacity</th>
                                        <th>Students</th>
                                        <th>Professors</th>
                                        <th>Courses</th>
                                        {% if is_granted('ROLE_SUPER_ADMIN') %}

                                        <th>Actions</th>
                                        {% endif %}
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for classe in classes %}
                                    <tr class="odd">
                                        <td >1</td>
                                        <td>{{ classe.name }}</td>
                                        <th>{{ classe.departement.name }}</th>
                                        <td>{{ classe.capacity }}</td>
                                        <td>
                                            <a href="{{ path('class_student', { 'id': classe.id  }) }}" class="btn btn-primary btn-xs" >
                                                Students List
                                            </a>
                                        </td>
                                        <td>  <a href="{{ path('class_teacher', { 'id': classe.id  }) }}" class="btn btn-primary btn-xs" >

                                            Professors List
                                            </a></td>
                                        <td> <a href="{{ path('courses_teacher', { 'id': classe.id  }) }}" class="btn btn-primary btn-xs" >
                                                Courses List
                                            </a></td>
                                        {% if is_granted('ROLE_SUPER_ADMIN') %}

                                        <td>
                                            <a href="{{ path('classe_edit', { 'id': classe.id  }) }}" class="btn btn-primary btn-xs">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                            <a href="{{ path('classe_delete', { 'id': classe.id  }) }}"  class="btn btn-danger btn-xs">
                                                <i class="fa fa-trash-o "></i>
                                            </a>
                                        </td>
                                        {% endif %}

                                    </tr>
                                    {% endfor %}
                                    </tbody>


                                </table>
                            </div>




                        </div>
                    </div>
                </div>
            </div>


<!--
            <div class="modal fade" id="studentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Student List</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body ">
                            <div class="studentList">

                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
-->


        </div>
    </div>
    <!-- end page content -->
    {% endblock %}
    {% block includeJS  %}
        {{ parent() }}
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    {% endblock %}


