
            {% extends 'admin-dash.twig' %}

{% block head  %}
    {{ parent() }}
{% endblock %}

{% block header  %}
    {{ parent() }}

{% endblock %}

{% block container  %}
    {{ parent() }}

{% endblock %}
{% block content %}

    <!-- start page content -->
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="page-bar">
                <div class="page-title-breadcrumb">
                    <div class=" pull-left">
                        <div class="page-title">Add Course</div>
                    </div>
                    <ol class="breadcrumb page-breadcrumb pull-right">
                        <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="index.html">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
                        </li>
                        <li><a class="parent-item" href="#">Course</a>&nbsp;<i class="fa fa-angle-right"></i>
                        </li>
                        <li class="active">Add Course</li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="card card-box">
                        <div class="card-head">
                            <header>Course Add</header>

                        </div>
                        <div class="card-body" id="bar-parent">
                            {{ form_start(form) }}

                            <div class="form-body">
                                    <div class="form-group row">
                                        <label class="control-label col-md-3">Course Name
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="col-md-5">
                                            {{ form_widget(form.name ,  { 'attr': {'class': 'form-control input-height' , 'placeholder':"enter course name" } } ) }}

                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="control-label col-md-3">Course Code
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="col-md-5">
                                            {{ form_widget(form.code ,  { 'attr': {'class': 'form-control input-height' , 'placeholder':"enter course code" } } ) }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="control-label col-md-3">Course Details
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="col-md-5">
                                            {{ form_widget(form.description ,  { 'attr': {'class': 'form-control-textarea' , 'placeholder':"enter course code" } } ) }}

                                        </div>
                                    </div>




                                <div class="form-group row">
                                    <label class="control-label col-md-3">Starting Date
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-5">
                                        <div class="input-group date form_date " data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                            {{ form_widget(form.startingDate ,  { 'attr': {'class': 'form-control input-height' , 'placeholder':"Starting Date" } } ) }}

                                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                        </div>
                                        <input type="hidden" id="dtp_input2" value="">
                                    </div>
                                </div>



                                    <div class="form-group row">
                                        <label class="control-label col-md-3">Course Duration
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="col-md-5">
                                            {{ form_widget(form.duration ,  { 'attr': {'class': 'form-control input-height' , 'placeholder':"hours duration" } } ) }}

                                        </div>
                                        <input type="hidden" id="dtp_input2" value="" />

                                    </div>
                                    <div class="form-group row">
                                        <label class="control-label col-md-3">Professor Name
                                            <span class="required"> * </span>
                                        </label>
    <!--                                    <div class="col-md-5">


                                        </div>
-->                                    </div>


                                    <div class="form-group row">
                                        <label class="control-label col-md-3">Profile Picture
                                        </label>
                                        <div class="compose-editor">
                                                {{ form_widget(form.imageFile) }}

                                        </div>
                                    </div>
                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="offset-md-3 col-md-9">
                                                <button type="submit" class="btn btn-info">Submit</button>
                                                <button type="button" class="btn btn-default">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end page content -->
{% endblock %}
{% block includeJS  %}
    {{ parent() }}

{% endblock %}



