{% extends 'admin-dash.twig' %}


{% block head %}
    {{ parent() }}
    <!-- Owl Carousel Assets -->
    <link href="{{ asset('assets/plugins/owl-carousel/owl.carousel.css')}}" rel="stylesheet">
    <link href="{{ asset('assets/plugins/owl-carousel/owl.theme.css')}}" rel="stylesheet">
{% endblock  %}

{% block header %}
    {{ parent() }}
{% endblock  %}
{% block container %}
    {{ parent() }}
    {% block content %}




                <!-- start page content -->
                <div class="page-content-wrapper">
                    <div class="page-content">
                        <div class="page-bar">
                            <div class="page-title-breadcrumb">
                                <div class=" pull-left">
                                    <div class="page-title"></div>
                                </div>
                                <ol class="breadcrumb page-breadcrumb pull-right">
                                    <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="index.html">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
                                    </li>
                                    <li><a class="parent-item" href="#">Dashboard</a>&nbsp;<i class="fa fa-angle-right"></i>
                                    </li>
                                    <li class="active">Dashboard</li>
                                </ol>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div id="owl-demo" class="owl-carousel">
                                    <div class="item"><img src="../assets/img/slider/fullimage1.jpg" alt="The Last of us">
                                    </div>
                                    <div class="item"><img src="../assets/img/slider/fullimage2.jpg" alt="GTA V">
                                    </div>
                                    <div class="item"><img src="../assets/img/slider/fullimage3.jpg" alt="Mirror Edge">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- end page content -->

                </div>
                <!-- end page container -->

        {% endblock %}
{% endblock  %}
{% block includeJS %}
    {{ parent() }}

    <!-- owl carousel -->
    <script src="{{ asset('assets/plugins/owl-carousel/owl.carousel.js')}}"></script>
    <script src="{{ asset('assets/js/pages/owl-carousel/owl_data.js')}}"></script>
{% endblock  %}









