{% extends 'admin-dash.twig' %}

{% block head  %}
    {{ parent() }}
{% endblock %}

{% block header  %}
    {{ parent() }}

{% endblock %}

{% block container  %}
    {{ parent() }}

{% endblock %}

	{% block content  %}
		<!-- start page content -->
		<div class="page-content-wrapper">
			<div class="page-content">
				<div class="page-bar">
					<div class="page-title-breadcrumb">
						<div class=" pull-left">
							<div class="page-title">Add Department</div>
						</div>
						<ol class="breadcrumb page-breadcrumb pull-right">
							<li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="index.html">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
							</li>
							<li><a class="parent-item" href="#">Department</a>&nbsp;<i class="fa fa-angle-right"></i>
							</li>
							<li class="active">Add Department</li>
						</ol>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 col-sm-12">
						<div class="card card-box">
							<div class="card-head">
								<header>Add Department</header>
								<button id = "panel-button"
										class = "mdl-button mdl-js-button mdl-button--icon pull-right"
										data-upgraded = ",MaterialButton">
									<i class = "material-icons">more_vert</i>
								</button>
								<ul class = "mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
									data-mdl-for = "panel-button">
									<li class = "mdl-menu__item"><i class="material-icons">assistant_photo</i>Action</li>
									<li class = "mdl-menu__item"><i class="material-icons">print</i>Another action</li>
									<li class = "mdl-menu__item"><i class="material-icons">favorite</i>Something else here</li>
								</ul>
							</div>
							<div class="card-body" id="bar-parent">
                                    {{ form_start(form) }}

									<div class="form-body">
										<div class="form-group row">
											<label class="control-label col-md-3">Department Name
												<span class="required"> * </span>
											</label>
											<div class="col-md-5">
												{{ form_widget(form.name ,  { 'attr': {'class': 'form-control input-height' , 'placeholder':"enter department name" } } ) }}
											</div>
										</div>
										<div class="form-group row">
											<label class="control-label col-md-3">Head Of Department
											</label>
											<div class="col-md-5">

                                                {{ form_widget(form.head ,{'attr':{'class':'form-control input-height'}}) }}

											</div>
										</div>

										<div class="form-group row">
											<label class="control-label col-md-3">Starting Date
												<span class="required" aria-required="true"> * </span>
											</label>
											<div class="col-md-5">
												<div class="input-group date form_date " data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                                    {{ form_widget(form.startingDate ,  { 'attr': {'class': 'form-control input-height' , 'placeholder':"Starting Date" } } ) }}

													<span class="input-group-addon"><span class="fa fa-calendar"></span></span>
												</div>
												<input type="hidden" id="dtp_input2" value="">
											</div>
										</div>
										<div class="form-group row">
											<label class="control-label col-md-3">Student Capacity
												<span class="required"> * </span>
											</label>
											<div class="col-md-5">
                                                {{ form_widget(form.capacity ,  { 'attr': {'class': 'form-control input-height' , 'placeholder':"enter capacity" } } ) }}
											</div>
										</div>
										<div class="form-group row">
											<label class="control-label col-md-3">Department Details
											</label>
											<div class="col-md-5">
                                                {{ form_widget(form.description ,  { 'attr': {'class': 'form-control input-height' , 'placeholder':"department details" } } ) }}

											</div>
										</div>
										<div class="form-actions">
											<div class="row">
												<div class="offset-md-3 col-md-9">
													<button type="submit" class="btn btn-info">Submit</button>
													<button type="button" class="btn btn-default">Cancel</button>
												</div>
											</div>
										</div>
									</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end page content -->

    {% endblock %}

{% block includeJS  %}
    {{ parent() }}

{% endblock %}


